@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

body {
    margin: 0;
    padding-top: 120px;
    color: white;
    background-attachment: fixed;
    font-family: 'Noto Sans', sans-serif;
}
#mainControlDiv {
    width: 1125px;
    height: auto;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1), 0 -1px 8px 0 rgba(0, 0, 0, 0.1);
    margin: auto;
    display: none;
    text-align: left;
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
}
#topHeaderDiv {
    width: 100%;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 0px 5px 0 rgba(0, 0, 0, 0.1);
    background: rgb(238,238,238);
    background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    margin: auto;
    box-sizing: border-box;
    /*border-top: solid 2px #cccccc;*/
    position: relative;
    display: block;
    z-index: 1;
    padding: 0;
    margin-top: 5px;
    font-family: 'Noto Sans', sans-serif;

}
#topLeftTitle {
    width: 1125px;
    height: 50px;
    margin: auto;
    text-align: left;
    position: relative;
    display: block;
    z-index: 2;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;

}
#titleText {
    display: inline;
    vertical-align: middle;
    font-family: "Helvetica" , "Arial";
    color: #0a001f;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}
.center {
    text-align: center;
}
.menuCell {
    width: 25%;
    height: 50%;
    display: inline-block;
    text-align: left;
    float: none;
    font-family: 'Noto Sans', sans-serif;


}
hr.style13 {
    border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, #f0f0f000, #bbbbbb82, #f0f0f000);
    background-image: -moz-linear-gradient(left, #f0f0f000, #bbbbbb82, #f0f0f000);
    background-image: -ms-linear-gradient(left,#f0f0f000, #bbbbbb82, #f0f0f000);
    background-image: -o-linear-gradient(left, #f0f0f000, #bbbbbb82, #f0f0f000);
}
