body {
    margin: 0;
    padding-top: 120px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,eeeeee+100 */
    color: white;
    background-attachment: fixed;

}
#mainControlDiv {
    width: 1125px;
    height: auto;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1), 0 -1px 8px 0 rgba(0, 0, 0, 0.1);
    margin: auto;
    display: none;
    text-align: left;
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
}
#topHeaderDiv {
    width: 1125px;
    height: 170px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 0px 5px 0 rgba(0, 0, 0, 0.1);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    margin: auto;
    /*border: 1px solid darkgrey;*/
    border-radius: 15px;
    box-sizing: border-box;
    position: relative;
    display: block;
    z-index: 1;
    padding: 0;
    margin-top: 5px;
}
#topLeftTitle {
    width: 1125px;
    height: 50px;
    margin: auto;
    /*border: 1px solid darkgrey;*/
    position: relative;
    display: block;
    z-index: 2;
    padding: 0;
}
#titleText {
    display: inline;
    vertical-align: middle;
    font-family: "Helvetica" , "Arial";
    color: white;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}